/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stop Reset */

/* Common */

body{
    font-family: 'Rubik Mono One', sans-serif;
}


section {
    height: 100vh;
    width: 100%;
    position: relative;
}

img, h3 {
    width: 60%;
}

/* stop Common */

/* Main */

main .center {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h3{    
    text-transform: uppercase;
    color: yellow;
    font-size: 5vh;
    display: inline-block;    
}

section.red{
    background-color: red;
}

section.green{
    background-color: green;
}

section.yellow{
    background-color: yellow;
}

section:last-child h3{
    color: green;
}

/* stop Main */
